.desktop-logo p {
    color: var(--active-color);
    font-size: 1.2rem;
    font-family: var(--main-font);
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-color);
    padding: 20px 50px;
    border-radius: 50px;
    position: sticky;
}

.desktop-link ul {
    display: flex;
    gap: 24px;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--inactive-color);
    font-family: 1rem;
}

.desktop-link li {
    list-style: none;
}

.desktop-link a {
    text-decoration: none;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--inactive-color);
}

.desktop-link  li:nth-child(2) a {
    color: var(--active-color);
}

/* Mobile nav */
.mobile-nav {
    display: none;
}

.menu-panel {
    display: none;
}

.menu-container {
    display: none;
}

.hero-section {
    background-color: var(--hero-bg-color);
    padding: 20px 0;
}

.about-section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 50px;
}

.hero-content-title {
    font-family: var(--main-font);
    color: var(--text-color);
    line-height: 1.2;
    font-weight: normal;
}
.about-image-container{
    width: 500px;
    height: 500px;
    background-color: var(--active-color);
    border-radius: 50%;
    overflow: hidden;
}
.about-hero-img {
    width: 100%;
    margin-top: 90px;
    object-fit: cover;
}
