* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop-logo p {
    color: var(--active-color);
    font-size: 1.2rem;
    font-family: var(--main-font);
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin: 0 30px;
    background-color: var(--nav-color);
    padding: 20px 50px;
    border-radius: 50px;
    background-color: var(--nav-color);
}

.desktop-link ul {
    display: flex;
    gap: 24px;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--inactive-color);
    font-family: 1rem;
}

.desktop-link li {
    list-style: none;
}

.desktop-link a {
    text-decoration: none;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--inactive-color);
}

.desktop-link li:nth-child(4) a {
    color: var(--active-color);
}

/* Mobile nav */
.mobile-nav {
    display: none;
}

.menu-panel {
    display: none;
}

.menu-container {
    display: none;
}

.blog-post-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 2rem 80px;
}

.item {
    margin-bottom: 1rem;
}

.item img {
    width: 100%;
    border-radius: 10px;
}


.blog-contents-cont {
  opacity: 0;
}

.item:hover  .blog-contents-cont{
    opacity: 100;
}

.blog-title {
    font-family: var(--main-font);
    color: var(--text-color);
    font-size: 1.4rem;
    margin: 2px 0;
}

.blog-content {
    font-family: var(--main-font);
    margin: 10px 0;
}

.blog-btn {
    padding: 10px 32px;
    color: var(--active-color);
    cursor: pointer;
    background-color: var(--nav-color);
    border-radius: 10px;
    border: none;
    font-family: var(--main-font);
}

.blog-more-btn {
    margin: 1rem auto;
    display: block;
    background-color: var(--nav-color);
    color: var(--active-color);
    padding: 18px 32px;
    border-radius: 10px;
    cursor: pointer;
    min-width: 230px;
    font-size: 1.4rem;
    border: none;
}

.news-update {
    width: 100%;
    background-color: #0ba360;
    z-index: 10;
    border-radius: 10px;
    padding: 16px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 2rem 80px;
}

.newsletter {
    color: var(--active-color);
    font-family: var(--main-font);
    font-size: 1rem;
    text-transform: capitalize;
}

.update-title {
    color: var(--active-color);
    font-family: var(--main-font);
    font-size: 2rem;
    margin: 1.4rem 0;
}

.update-content {
    color: var(--active-color);
    font-family: var(--main-font);
    font-size: 1.2rem;
    margin: 1rem 0;
    line-height: 1.1;
    font-weight: normal;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.email-input {
    padding: 1.4rem 1rem;
    border: none;
    border-radius: 50px;
    width: 350px;
    font-size: 1rem;
}

.email-input::placeholder {
    color: var(--text-color);
    font-family: var(--main-font);
    font-size: 1rem;
}

.email-input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--accent-color);
}

.subscribe-btn {
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: var(--active-color);
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.footer {
    background-color: var(--nav-color);
    padding: 2rem 0;
    position: relative;
}

.footer-logo p {
    color: var(--card-color);
    font-size: 1.4rem;
    font-weight: bold;
    font-family: var(--main-font);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem 30px;
}

.footer-links ul {
    display: flex;
    font-size: 1rem;
    color: var(--text-color);
}

.footer-links li {
    list-style: none;
    margin: 0 1rem;
}

.footer-links a {
    text-decoration: none;
    color: var(--active-color);
    font-family: var(--main-font);
}

.social-media img {
    width: 30px;
}

.reserve {
    color: var(--active-color);
    text-align: center;
    font-size: 1rem;
    font-family: var(--main-font);
    margin: 1rem 0;
}


.social-media img {
    width: 26px;
}

.social-media {
    gap: 2rem;
    display: flex;
}