* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desktop-logo p {
    color: var(--active-color);
    font-size: 1.2rem;
    font-family: var(--main-font);
}

.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    margin: 0 30px;
    background-color: var(--nav-color);
    padding: 20px 50px;
    border-radius: 50px;
    background-color: var(--nav-color);
}

.desktop-link ul {
    display: flex;
    gap: 24px;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--inactive-color);
    font-family: 1rem;
}

.desktop-link li {
    list-style: none;
}

.desktop-link a {
    text-decoration: none;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--inactive-color);
}

.desktop-link li:nth-child(4) a {
    color: var(--active-color);
}

/* Mobile nav */
.mobile-nav {
    display: none;
}

.menu-panel {
    display: none;
}

.menu-container {
    display: none;
}

.blog-post-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 2rem 80px 0  80px;
}

.item {
    margin-bottom: 6rem;
}

.item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.blog-contents-cont {
  opacity: 0;
}

.item:hover  .blog-contents-cont{
    opacity: 100;
}