* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container {
    margin: 0 80px;

}

.desktop-logo p {
    color: var(--active-color);
    font-size: 1.2rem;
    font-family: var(--main-font);
}

.desktop-nav {
   display: flex;
   justify-content: space-between;
    align-items: center;
    align-items: center;
    margin: 0 30px;
    background-color: var(--nav-color);
    padding: 20px 50px;
    border-radius: 50px;

}

.desktop-link ul {
    display: flex;
    gap: 24px;
    text-decoration: none;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--inactive-color);
    font-family: 1rem;
}

.desktop-link li {
    list-style: none;
}

.desktop-link a {
    text-decoration: none;
    cursor: pointer;
    font-family: var(--main-font);
    color: var(--inactive-color);
}

.desktop-link li:nth-child(3) a {
    color: var(--active-color);
}

/* Mobile nav */
.mobile-nav {
    display: none;
}

.menu-panel {
    display: none;
}

.menu-container {
    display: none;
}

.contact-section {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.contact-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.call-icon {
   filter: brightness(0) invert(1);
}

.contact {
    max-width: fit-content;
    background-color: var(--nav-color);
    padding: 60px;
    border: 2px solid transparent;
    border-radius: 10px;
  
}

.call-icon {
    width: 26px;
}

.contact-phone {
    color: var(--active-color);
    font-family: var(--main-font);
    margin: 1rem 0;
    font-weight: normal;
}

.phone-number {
    color: var(--inactive-color);
    font-family: var(--main-font);
    font-size: 1rem;
    margin: 0.4rem 0;
}

.contact-us-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content-container h1 {
    color: var(--text-color);
    font-family: var(--main-font);
    text-transform: capitalize;
    font-weight: 400;
    margin: 1.4rem auto;
    line-height: 1.2;
}

.contact-content {
    font-size: 1rem;
    font-family: var(--main-font);
    color: var(--text-color);
}

.name-input {
  padding: 0.7rem 0.4rem; 
  min-width:  300px;

}